HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/



### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# queryDsl generated
/src/main/generated

# properties
application.properties
application-oauth.properties
application-mail.properties
application-db.properties
shopping.vuerd.json


# application-test.properties 파일 무시
/application-test.properties
/application-oauth.properties
/application-mail.properties
/application-db.properties

# 결제시크릿키 파일무시
Payment.application.properties

#드라이버파일무시
 /drivers/*
drivers/chrome-win64/chrome.dll
/drivers
/upload/
/upload
drivers/