<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

      
<!-- css link -->
<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/gamven.css">

<!-- bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
    </script>

</th:block>



<!-- Content -->
<div layout:fragment="content">

    <div class="container" style="margin-bottom:50px;">

        <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
        
        <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
            <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과'"></p>
        </div>

       <!-- 검색 폼 -->
        <form th:action="@{/listsearch}" method="get" class="mb-5">
            <div class="row text-white p-4 fs12" style="background-color: #202123; border-radius: 15px;">
                <!-- Platform Filter -->
                <div class="list_filter_box row" style="width: 90%;">
                    <div class="col-md-3 form-group">
                        <label for="platform">플랫폼:</label>
                        <select class="form-control fs12" id="platform" name="platform">
                            <option value="">-- 모든 플랫폼 --</option>
                            <option value="STEAM" th:selected="${searchDto.platform == 'STEAM'}">Steam</option>
                            <option value="EPIC_GAMES" th:selected="${searchDto.platform == 'EPIC_GAMES'}">Epic Games</option>
                            <option value="ROCKSTAR_GAMES" th:selected="${searchDto.platform == 'ROCKSTAR_GAMES'}">Rockstar Games</option>
                            <option value="UBISOFT_CONNECT" th:selected="${searchDto.platform == 'UBISOFT_CONNECT'}">Ubisoft Connect</option>
                            <option value="OTHER" th:selected="${searchDto.platform == 'OTHER'}">기타</option>
                        </select>
                    </div>
                    <!-- Category Filter -->
                    <div class="col-md-3 form-group">
                        <label for="category">카테고리:</label>
                        <select class="form-control fs12" id="category" name="category">
                            <option value="">-- 모든 카테고리 --</option>
                            <option value="ACTION" th:selected="${searchDto.category == 'ACTION'}">액션</option>
                            <option value="RPG" th:selected="${searchDto.category == 'RPG'}">RPG</option>
                            <option value="ADVENTURE" th:selected="${searchDto.category == 'ADVENTURE'}">어드벤처</option>
                            <option value="CASUAL" th:selected="${searchDto.category == 'CASUAL'}">캐주얼</option>
                            <option value="FPS" th:selected="${searchDto.category == 'FPS'}">FPS</option>
                            <option value="OTHER" th:selected="${searchDto.category == 'OTHER'}">기타</option>
                        </select>
                    </div>
                    <!-- Price Filter -->
                    <div class="col-md-3 form-group">
                        <label for="price">가격:</label>
                        <select class="form-control fs12" id="price" name="price">
                            <option value="">-- 가격 선택 --</option>
                            <option value="ASC" th:selected="${searchDto.price == 'ASC'}">낮은순</option>
                            <option value="DESC" th:selected="${searchDto.price == 'DESC'}">높은순</option>
                        </select>
                    </div>
                    <!-- Order By Release Date Filter -->
                    <div class="col-md-3 form-group">
                        <label for="orderByReleaseDate">출시 순서:</label>
                        <select class="form-control fs12" id="orderByReleaseDate" name="orderByReleaseDate">
                            <option value="">-- 출시순 --</option>
                            <option value="asc" th:selected="${searchDto.orderByReleaseDate == 'asc'}">오름차순</option>
                            <option value="desc" th:selected="${searchDto.orderByReleaseDate == 'desc'}">내림차순</option>
                        </select>
                    </div>
                </div>

                <div style="margin:auto; margin-top: 15px;">
                    <button type="submit" class="btn text-white m-3 fs12" style=" background-color: #5994b1;">정렬</button>
                </div>
            </div>        
        </form>
                

        <div  class="row" style="background-color: #343541; border-radius : 20px; padding : 30px; width: 70%;">
            <!-- 상품 이미지 출력 for문-->
            <table class="list_filter_table table text-white" style="color: rgb(247, 241, 193); width: 100%; text-align: center;">
                <thead class="fs12">
                    <tr>
                        <th style="width: 20%;"></th>
                        <th style="width: 60%;"></th>
                        <th style="width: 20%; text-align: right;">가격</th>
                    </tr>
                </thead>
                <tbody class="fs12" style="text-align: left;">
                    <tr th:each="item : ${items.getContent()}" >
                        <td style="width: 20%;">
                            <a th:href="'/item/' + ${item.id}">
                                <img th:src="${item.imgUrl}" th:alt="${item.itemNm}" height="75" width="70%">
                            </a>
                        </td>
                        <td style="width: 20%; vertical-align: middle;">
                            NAME : <span th:text="${item.itemNm}"></span><br>
                            <div th:switch="${item.platform}">
                                <img th:case="'STEAM'" th:src="@{/images/item/STEAM_logo.png}" />
                                <img th:case="'ROCKSTAR_GAMES'" th:src="@{/images/item/RockStar_logo.png}" />
                                <img th:case="'UBISOFT_CONNECT'" th:src="@{/images/item/Ubisoft_logo.png}" />
                                <img th:case="'EPIC_GAMES'" th:src="@{/images/item/EpicGames_logo.png}" />
                                <img th:case="'OTHER'" th:src="@{/images/item/OTHER_logo.png}" />
                                <img th:case="'ALL'" th:src="@{/images/item/ALL_logo.png}" />
                                <p th:case="*" th:text="${item.platform}"></p> 
                            </div><br>
                            CATEGORY : <span th:text="${item.category}"></span>
                        </td>
                        <td style="width: 20%; vertical-align: middle; text-align: right;" th:text="${item.formattedPrice + '₩'}"></td>
                    </tr>
                </tbody>
            </table>
            
            <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
            <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}">
                <p th:text="${itemSearchDto.searchQuery} + ' 검색 결과'"></p>
            </div>
        </div>
            <!-- /. 상품 이미지 출력 for문-->


            <!-- 페이지 이동 버튼-->
            <div style="margin : auto;" class="my-3">
                <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
                    <ul class="pagination justify-content-center">

                        <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
                            <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number-1}}" aria-label='Previous' class="page-link">
                                <span aria-hidden='true'>&laquo;</span>
                            </a>
                        </li>

                        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">
                            <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
                        </li>

                        <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
                            <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}" aria-label='Next' class="page-link">
                                <span aria-hidden='true'>&raquo;</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <!--  /. 페이지 이동 버튼-->

        </div>

    </div>

    <img id="main_game_card" th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}" height="300">

</div>
</html>