<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

<!-- jquary -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- css link -->
<link rel="stylesheet" href="/src/main/resources/static/css/gamven.css">

<!-- bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<!--headerFragment 선언-->
<div th:fragment="headerFragment">

    <div id="header_box" class="fixed-top container-fluid">

        <div class="container d-flex">

            <!-- logo -->
            <div class="pt-3 pl-2">
                <img id="logo" src="/src/main/resources/static/img/logo3.png" th:src="@{/img/logo3.png}" alt="로고"/>
            </div>



                <!-- search -->
                <div id="search_Form" class="col-sm-7 px-auto">
                    <form class="input-group  my-lg-0" th:action="@{/}" method="get">
                        <input id="searchBar" name="searchQuery" class="form-control text-white" type="search" placeholder="검색할 상품을 입력하세요" aria-label="Search">
                        <button class="btn bg-primary text-white" type="submit">검색</button>
                    </form>
                </div>


                    <!-- user_button -->
                    <div id="user_button" class="pr-3 mr-3 mt-2" >
                        <i class="fa fa-user-circle mr-2" style="color: white;" aria-hidden="true">
                            <div id="user_modal" class="collapse show">
                                <div>
                                    <div sec:authorize="isAuthenticated()">
                                        <a href="/orders" class="text-white">구매이력</a>
                                    </div>
                                    <div sec:authorize="isAuthenticated()">
                                        <a href="/members/logout" class="text-white">로그아웃</a>
                                    </div>
                                    <div sec:authorize="isAuthenticated()">
                                        <a href="/members/info" class="text-white">개인정보 수정</a>
                                    </div>
                                    <div sec:authorize="isAnonymous()">
                                        <a href="/members/login" class="text-white">로그인</a>
                                    </div>
                                    <div sec:authorize="isAnonymous()">
                                        <a href="/members/new" class="text-white">회원가입</a>
                                    </div>
                                </div>
                            </div>
                        </i>
                        <span class="text-dark">USER</span>
                    </div>

                    <!-- cart_button -->
                    <div id="cart_button" class="pr-2 mt-2">
                        <i class="fa fa-shopping-cart" style="color:white" aria-hidden="true" th:herf="@{/cart}"></i>
                        <span class="text-dark mx-2">CART</span>
                    </div>

                </div>
            </div>
                    
        </div>

    
        <div id="nav" class="container">
            <div>
                <ul>
                    <li><a href="#" class="text-white">게임</a></li>
                    <li><a href="#" class="text-white">공지사항</a></li>
                    <li><a href="#" class="text-white">커뮤니티</a></li>
                    <li><a href="#" class="text-white">회사소개</a></li>
                </ul>
            </div>
        </div>





    <!-- 모바일 버전 헤더 -->

    <div id="m_header" class="fixed-top">
        <div class="container">
            <div id="m_header_box" class="row">

                <!-- m_logo -->
                <div class="pl-4 pt-3 mb-2 col-4">
                    <img id="logo" src="/src/main/resources/static/img/logo3.png" th:src="@{/img/logo3.png}" alt="로고" style="width: 150px; cursor: pointer;"/>
                </div>

                <div id="m_search_bar" class="pt-3 col-5" >
                    <form class="input-group  my-lg-0 ml-3" th:action="@{/}" method="get">
                        <input id="searchBar" name="searchQuery" class="form-control text-white" type="search" placeholder="검색할 상품을 입력하세요" aria-label="Search" style="height: 30px; width: 80px; font-size: 13px;">
                        <button class="btn bg-primary text-white" type="submit" style="height: 30px; font-size: 13px;">검색</button>
                    </form>
                </div>


                <!-- m_user -->
                <div id="m_header_User" class="col-3" >
                    <div class="input-group mt-2 pt-3 ml-3 justify-content-end">
                        <i id="m_user_button" class="fa fa-user-circle"aria-hidden="true">
                            <div id="m_user_Modal" class="collapse show">
                                <div>
                                    <div sec:authorize="isAuthenticated()">
                                        <a href="/orders" class="text-white">구매이력</a>
                                    </div>
                                    <div sec:authorize="isAuthenticated()">
                                        <a href="/members/logout" class="text-white">로그아웃</a>
                                    </div>
                                    <div sec:authorize="isAuthenticated()">
                                        <a href="/members/info" class="text-white">개인정보 수정</a>
                                    </div>
                                    <div sec:authorize="isAnonymous()">
                                        <a href="/members/login" class="text-white">로그인</a>
                                    </div>
                                    <div sec:authorize="isAnonymous()">
                                        <a href="/members/new" class="text-white">회원가입</a>
                                    </div>
                                </div>
                            </div>
                        </i>
                        <i id="m_cart_go_button" class="fa fa-shopping-cart"aria-hidden="true" href="http://localhost:8081/cart"></i>
                    </div>
                </div>


                <div id="m_nav" class="container">
                    <ul>
                        <li><a id="m_nav_game" class="text-white">홈</a></li>
                        <li><a href="#" class="text-white">공지사항</a></li>
                        <li><a href="#" class="text-white">커뮤니티</a></li>
                        <li><a href="#" class="text-white">회사소개</a></li>
                        <li><a id="m_management_go_button" class="badge bg-success text-white">관리자</a></li>
                    </ul>
                </div>
                
            </div>          
        </div>
    </div>

    




</div>


</html>

