/* base start ============================================*/

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.nanum { font-family: 'Nanum Barun Gothic'; } 



/* base */

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background : rgb(68,70,84) !important;
    padding-top : 140px;

}

ul,li{
    margin : 0px;
    padding : 0px;
}

li{
    list-style: none;
}

a{
    cursor: pointer;
    color : white;
    font-weight: bolder;
}
/* base end ============================================*/












/* header.html start ==========================================*/

#header_box{
    background-color: rgb(32,33,35);
}


#logo{
    cursor: pointer;
    width: 200px;
}

#header_User {
    color : white;
    width: 100%;
}

#header_User i{
    cursor: pointer;
    font-size : 18px;
    background-color: #1ca817;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    padding : 6px;
}


#management_button{
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    font-size: 13px;
}

#management_button:hover{
    background-color: rgb(216, 216, 216);
}

#user_button{
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    font-size: 13px;
}

#user_button:hover{
    background-color: rgb(216, 216, 216);
}

#cart_button{
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    font-size: 13px;
}

#cart_button i{
    background-color: rgb(236, 162, 25);
}

#cart_button:hover{
    background-color: rgb(216, 216, 216);
}



#nav{
    padding-bottom : 1px;
}


#nav ul{
    padding-left : 10px;
    padding-top: 10px;
}

#nav li{
    display : inline-block;
    margin-right: 10px;
}

#user_modal{
    width : 200px;
    position: absolute;
    top : 50px;
    display: none;
    font-size : 15px;
    right : 45px;
}

#user_modal>div{
    background-color: rgb(65, 84, 112, 0.9);
    border-radius: 10px;
    margin-right : -10px;
    width : 200px;
    text-align: center;
    padding-top : 10px;
    padding-bottom : 10px;
    line-height: 30px;
}

/* header end ================================================*/







/*footer start ===============================================*/

#footer>div{
    margin-left: auto !important;
}

#footer img{
    width: 155px;
}
/*footer ends ================================================*/













/* main.html start ================================================*/

#img_slider{

    height : 300px;
    margin-top:30px;
    margin-bottom:30px;
    padding-bottom : 10px;
}

#img_slider div{
    height: 300px;
}

#main_game_card{
    transition : 0.5s;
}

#main_game_card_text{
    background-color: rgb(32,33,35);
    border-radius: 15px;
}

#main_game_card_text p{
    margin-bottom: 0;
}

#main_game_card:hover{
    scale: 1.1;
}




#filter{
    height : 100px;
    background-color: rgb(32,33,35);
}

/* main.html end ================================================*/








/* memberForm start ================================================*/

#singup_box{
    margin-top : 80px;
    color: white;
    margin-bottom : 100px;
}

#singup_box>div{
    width : 50%;
    margin-left : 25%;
}

#sinup_button{
    margin-left : 25%;
}


/* memberForm end ==================================================*/



/* memberLogin start ================================================*/

#login_box{
    margin-top : 180px;
    margin-bottom : 200px;
    display: grid;
    place-items: center;
}

#login_box input{
    width : 400px;
}

#login_box div:nth-child(3){
    margin-left:-140px;
}


/* memberLogin end ================================================*/



/* memberinfo start ================================================*/
#memberinfo_box{
    margin-top : 150px;
    margin-bottom : 200px;
    text-align: center;
}

#memberinfo_box a{
    margin-bottom: 15px;
    width : 150px;
    height : 45px;
    font-size : 15px;
}
/* memberinfo end ================================================*/


/* memberUpdate start ================================================*/
#member_update_box{
    color: white;
    width: 500px;
    margin: auto;
    margin-top : 100px;
    margin-bottom: 130px;
}



/* memberUpdate end ================================================*/




/* memberPasswordUpdate.html start ================================================*/

#password_update_box{
    color: white;
    width: 500px;
    margin: auto;
    margin-top : 100px;
    margin-bottom: 130px;
}

#password_update_box button{
    margin-top: 15px;
}

/* memberPasswordUpdate.html end ================================================*/








/* itemDtl start ================================================*/
.item_detail_box{

    padding-top : 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    background-color: #343541;
}

.item_detail_box img{
    width : 100%;
}


/* itemDtl end ==================================================*/




/* itemForm start ================================================*/

#item_form{
    width : 70%;
}

#item_form button{
    float : left;
    margin-right : 10px;
}

/* itemForm end ================================================*/







/* cartList start ================================================*/
.cart_list_box{
    background-color: #343541 !important;
    border-radius: 20px;
    margin-bottom : 100px !important;
}
/* cartList end   ================================================*/




/* orde.html start   ================================================*/
#order_box{
    background-color: #343541;
    border-radius:20px;
}

#order_box table{
    font-size: 13px;
}
/* orde.html end   ================================================*/




/* management_box start   ================================================*/

.management_box{
    margin-top: 100px;
    margin-bottom : 100px;
}
/* management_box end   ================================================*/



















@media screen and (max-width:767px) {



    /* m_header start   ================================================*/
    #logo{
        margin-left : -15px;
        margin-top: 5px;
        width: 110px;
    }

    #header_User i{
        width : 25px;
        height: 25px;
        font-size: 10px;
        padding: 7px;
    }

    #user_modal{
        margin-top: -5px;
        margin-right: -115px;
    }

    #user_modal>div{
        font-size: 13px;
        border-radius: 10px;
        width : 150px;
        text-align: center;
        padding-top : 10px;
        padding-bottom : 10px;
        line-height: 30px;
    }

    #management_button,#user_button,#cart_button{
        background : none;
        width: 25px;
    }

    #management_button i:hover{
        background-color: #0068d6 !important;
    }

    #user_button i:hover{
        background-color: #1b8d17 !important;
    }

    #cart_button i:hover{
        background-color: rgb(204, 141, 25) !important;
    }

    #header_User span{
        display: none;
    }

    #nav{
        left : -20px;
        font-size: 10px;
        padding-left : 0px;
    }
    /* m_header end   ================================================*/


    /* m_footer start   ===============================================*/
    #footer img{
        width: 100px;
    }
    /* m_footer end   ================================================*/


    /* m_memberLogin.html start   ===============================================*/
    #login_box{
        margin-top : 30px;
        font-size: 13px;
    }

    #login_box input{
        font-size: 13px;
        width: 110%;
    }

    #login_box div:nth-child(3){
        margin-left: 40px;
    }

    #login_box div:nth-child(3) button{
        font-size : 12px;
    }
    /* m_memberLogin.html end ================================================*/




    /* m_memberInfo.html start ================================================*/

    #memberinfo_box{
        margin-top: 30px;
    }

    #memberinfo_box a{
        width: 130px;
        font-size: 13px;
    }  
    /* m_memberInfo.html end ================================================*/


    /* m_memberPasswordUpdate.html start ================================================*/
    
    #password_update_box{
        font-size: 13px;
        margin-top: 30px;
        width: 70%;
    }

    #password_update_box button{
        font-size: 12px;
    }
    
    /* m_memberPasswordUpdate.html end ================================================*/


    /* m_memberUpdate.html start ================================================*/
    
    #member_update_box{
        font-size: 13px;
        margin-top: 30px;
        width: 70%;
    }

    #member_update_box button{
        font-size: 12px;
    }
    
    /* m_memberUpdate.html end ================================================*/

}



