/* base start ============================================*/

/* base */

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background : rgb(66, 66, 66) !important;

    padding-top : 140px;
}

ul,li{
    margin : 0px;
    padding : 0px;
}

li{
    list-style: none;
}

a{
    cursor: pointer;
    color : white;
    font-weight: bolder;
}
/* base end ============================================*/











/* fragments start ============================================*/


/* header start ============*/

#header{
    position: relative;
}

#head{
    height : 70px;
}

#search_Form{
    padding-top : 25px;
    
}


#search_Form>form{
    margin-left : 10%;
    width : 80%;
}

#searchBar{
    background-color: rgb(150, 150, 150);
}

#header_User {
    padding-top :  15px;
    color : white;
    font-weight: bolder;
}

#header_User i{
    cursor: pointer;
    font-size : 20px;
    background-color: #1ca817;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    padding : 10px;
    transition: 0.5s;
}

#header_User i:nth-child(1):hover{
    background-color: #595959;
}

#header_User i:nth-child(2):hover{
    background-color: #ce7e0d;
}


#nav{
    padding-bottom : 2px;
}


#nav ul{
    padding-left : 10px;
    padding-top: 10px;
}

#nav li{
    display : inline-block;
    margin-right: 10px;
}

#user_Modal{
    width : 200px;
    position: absolute;
    top : 60px;
    display: none;
    font-size : 15px;
    left : -80px;
}

#user_Modal>div{
    background-color: rgb(65, 84, 112, 0.9);
    border-radius: 10px;
    margin-right : -10px;
    width : 200px;
    text-align: center;
    padding-top : 10px;
    padding-bottom : 10px;
    line-height: 30px;
}




/* header end ============*/





/*footer start ===========*/


#footer>div{
    height: 300px;
    bottom: 0;
}

/*footer ends ===========*/




/* fragments end ============================================*/









/* main.html start ================================================*/

#img_slider{

    height : 300px;
}

#img_slider div{
    height: 300px;
}

#main_game_card{
    transition : 0.5s;
}

#main_game_card_text p{
    margin-bottom: 0;
}

#main_game_card:hover{
    scale: 1.1;
}




#filter{
    height : 100px;
}

/* main.html end ================================================*/








/* memberForm start ================================================*/

#singup_box{
    margin-top : 80px;
    color: white;
    margin-bottom : 100px;
}

#singup_box>div{
    width : 50%;
    margin-left : 25%;
}

#sinup_button{
    margin-left : 25%;
}




/* memberForm end ==================================================*/



/* memberLogin start ================================================*/

#login_box{
    margin-top : 180px;
    margin-bottom : 200px;
    padding-left : 20%;
}

#login_box input{
    width : 400px;
}

/* memberLogin end ================================================*/



/* memberinfo start ================================================*/
#memberinfo_box{
    margin-top : 150px;
    margin-bottom : 200px;
    text-align: center;
}

#memberinfo_box a{
    margin-bottom: 15px;
    width : 150px;
    height : 45px;
    font-size : 15px;
}
/* memberinfo end ================================================*/


/* memberUpdate start ================================================*/
#member_update_box{
    margin-top : 100px;
    margin-bottom : 130px;
    padding-left : 17%;
}


#member_update_box input{
    width : 500px;
}

/* memberUpdate end ================================================*/









/* itemDtl start ================================================*/
#item_detail_box{
}
/* itemDtl end ==================================================*/




/* itemForm start ================================================*/


#item_form button{
    float : left;
    margin-right : 10px;
}

/* itemForm end ================================================*/




/* order start ================================================*/

#order_img{
    margin-left : 25%;
    border : 1px solid blue;
}
/* order end ================================================*/














/* management.html start ================================================*/

.management_box{
    margin-bottom: 20px;
}

.management_box div:nth-child(1){
    padding : 0px;
}

.management_game_list{
    text-align: center;
}

/* management.html end ================================================*/





/* managementDetail.html start =========================================*/

#management_game_detail #btn_box{
    margin-top: 30px;
    float: right;
    margin-right: 80px;
}

/* managementDetail.html end ===========================================*/



/* order start ===========================================*/
#order_box{
    margin-bottom: 100px;
}

#order_buy_box{
    margin-top : 50px;
}


/* order end ===========================================*/