/* base start ============================================*/

/* base */

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(97, 97, 97) !important;
}

ul,li{
    margin : 0px;
    padding : 0px;
}

li{
    list-style: none;
}

a{
    cursor: pointer;
    color : white;
    font-weight: bolder;
}
/* base end ============================================*/











/* fragments start ============================================*/


/* header start ============*/
#logo{
    font-weight: bolder;
    margin-top : 15px;
    cursor: pointer;
    margin-left : 10px;
}


#header{
    position: relative;
}

#head{
    height : 70px;
    z-index : 5px;
}


#search_Form{

    padding-left : 100px;
}

#searchBar{
    background-color: rgb(150, 150, 150);
    width : 350px;
}

#header_User {
    padding-top :  15px;
    cursor: pointer;
    color : white;
    font-weight: bolder;
}


#nav{
    padding-bottom : 2px; 

}


#nav ul{
    padding-left : 10px;
    padding-top: 10px;
}

#nav li{
    display : inline-block;
    margin-right: 10px;
}

#nav li:nth-child(5){
    float : right;
    margin-right : 100px;
}

#user_Modal{
    padding : 10px;
    padding-left : 940px;
    position: absolute;
    top : 60px;
    display: none;
}

#user_Modal>div:nth-child(1){
    background-color: rgb(65, 84, 112, 0.5);
    margin-right : -10px;
    width : 200px;

}

#user_Modal div{
    margin-bottom : 10px;
}

#user_Modal a{
    opacity: 1;
}

#user_Modal div div:nth-child(3) a{
    line-height: 30px;
}




/* header end ============*/





/*footer start ===========*/

#footer{
    font-weight: bolder;
}

#footer div{
    height: 300px;
}

/*footer ends ===========*/

/* fragments end ============================================*/









/* main.html start ================================================*/

#img_slider{
    margin-top: 140px;
    height : 300px;
}

#img_slider div{
    height: 300px;
}




#filter{
    height : 100px;
}

/* main.html end ================================================*/








/* memberForm start ================================================*/

#singup_box{
    margin-top : 220px;
    color: white;
    padding-left : 20%;
    margin-bottom : 100px;
}

#singup_box input{
    width : 400px;
}


/* memberForm end ==================================================*/



/* memberLogin start ================================================*/

#login_box{
    margin-top : 320px;
    margin-bottom : 200px;
    padding-left : 20%;
}

#login_box input{
    width : 400px;
}

/* memberLogin end ================================================*/










/* management.html start ================================================*/

#management_box{
    height : 500px;
    margin-top : 130px;
}

#management_box div:nth-child(1){
    padding : 0px;
}

#management_game_list{
    text-align: center;
}

/* management.html end ================================================*/









/* managementDetail.html start =========================================*/

#management_game_detail #btn_box{
    margin-top: 30px;
    float: right;
    margin-right: 80px;
}

/* managementDetail.html end ===========================================*/