<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>공지사항</title>
</head>
<div layout:fragment="content">
    <div class="container">

        <form class="container"  role="form" method="get" th:object="${noticeList}">

            <table class="table bg-white board">
                <thead>
                    <tr style="font-weight: bold;">
                        <td>번호</td>
                        <td>제목</td>
                        <td>등록일</td>
                        <td>조회수</td>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="notice, status: ${noticeListDto.getContent()}">
                        <td th:text="${notice.id}"></td>
                        <td>
                            <a th:href="'/customer/notice/' + ${notice.id}" th:text="${notice.subject}"></a>
                        </td>
                        <td th:text="${#strings.replace(notice.regTime.toString().substring(0, 19), 'T', ' ')}"></td>
                        <td th:text="${notice.viewCount}"></td>
                    </tr>
                </tbody>
            </table>

        </form>
        <a href="/customer/notice/write">
            <button class="btn btn-primary">글쓰기</button>
        </a>
        
    </div>
</div>
</html>