<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
    </th:block>
    <!-- index.html 고유 스크립트 추가 -->
    <th:block layout:fragment="script">
        <!--    <script th:src="@{/js/page/home.js}"></script>-->
    </th:block>

    <!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    

<script th:inline="javascript">
    //시리얼번호 생성시 유효값검사 및 만들기 버튼 클릭시 발생하는 이벤트.
    function createSerial() {
        
        var itemId = document.getElementById("itemId").value;
        var numberOfSerials = document.getElementById("numberOfSerials").value;
        if (!itemId) {
            alert("상품ID를 입력해주세요");
            return false;
        }
        if (!numberOfSerials || numberOfSerials < 1) {
            alert("최소 생성개수는 1개입니다.");
            return false;
        }
        alert('생성이 완료되었습니다.');
    }
</script>

</th:block>



<!-- Content -->
<div layout:fragment="content">
    <div class="container">
        <div class="management_box row">
            <div class="col-sm-2">
                <th:block th:replace="~{fragments/sidebar :: sidebarFragment}"></th:block>
            </div>
            <div class="col-sm-10">
                <div class="container d-flex justify-content-center">
                    <table class="table bg-white" style="text-align:center; width: 80%; border-radius: 10px;">
                        <thead class="bg-primary text-white">
                            <tr>
                                <th>상품 ID</th>
                                <th>플랫폼</th>
                                <th>생성 시리얼 번호 개수</th>
                                <th>생성</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form th:action="@{/serials/createSerial}" method="post">
                                <tr>
                                    <td><input type="text" id="itemId" name="itemId" required></td>
                                    <td><select id="platform" name="platform" required>
                                            <option value="STEAM">Steam</option>
                                            <option value="EPIC_GAMES">Epic Games</option>
                                            <option value="OTHER">Other</option>
                                        </select>
                                    </td>
                                    <td><input type="number" id="numberOfSerials" name="numberOfSerials" required min="1"></td>
                                    <td colspan="2"><button type="submit" class="btn btn-primary" onclick="createSerial()">만들기</button></td>
                                </tr>
                            </form>
                        </tbody>
                    </table>
                    

                
                </div>
            </div>
        </div>
    </div>   
</div>

        <table>
            <thead>
                <colgroup>
                    <col style="width: 20%;">
                    <col style="width: 10%;">
                    <col style="width: 30%;">
                    <col style="width: 20%;">
                </colgroup>
                <tr>
                    <th>상품 ID</th>
                    <th>플랫폼</th>
                    <th>생성 시리얼 번호 개수</th>
                    <th>생성</th>
                </tr>
            </thead>
            <tbody>
                <form th:action="@{/serials/createSerial}" method="post">
                    <tr>
                        <td><input type="text" id="itemId" name="itemId" required></td>
                        <td><select id="platform" name="platform" required>
                            <option value="STEAM">Steam</option>
                            <option value="EPIC_GAMES">Epic Games</option>
                            <option value="ROCKSTAR_GAMES">Rockstar Games</option>
                            <option value="UBISOFT_CONNECT">Ubisoft Connect</option>
                            <option value="OTHER">기타</option>
                            </select>
                        </td>
                        <td><input type="number" id="numberOfSerials" name="numberOfSerials" required min="1"></td>
                        <td colspan="2"><button type="submit" onclick="createSerial()">만들기</button></td>
                    </tr>
                </form>
            </tbody>
        </table>
</html>
        
