<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

      
<!-- css link -->
<link rel="stylesheet" href="/src/main/resources/static/css/gamven.css">

<!-- fontawesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

<!-- bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


<!-- content -->
<!-- 상품데이터-->
<div layout:fragment="content">
    <div class="container">

        <div class="management_box row">
            <div class="col-sm-2">
                <th:block th:replace="~{fragments/sidebar :: sidebarFragment}">
                    <div id="m_sidebar_button" class="badge bg-white mb-2" style="cursor: pointer;">
                        <i class="fa fa-cogs text-primary p-1" aria-hidden="true" style="font-size: 15px;"></i>
                    </div>
                </th:block>
            </div>
            <div class="col-sm-10" style="padding: 0%;">
                <div class="container">
                    <h1>시리얼 조회</h1>
                    <!-- 검색 폼 -->
                    <form th:action="@{/serials/list}" method="get">
                        <label for="keyword">키워드 :</label>
                        <input type="text" id="keyword" name="keyword"  th:value="${keyword}" placeholder="사용자 ID나 상품 ID를 입력하세요.">
                        <button type="submit">검색</button>
                    </form>

                    <div th:each="serial : ${serials}">
                        <p><strong>시리얼 ID:</strong> <span th:text="${serial.serialId}"></span></p>
                        <p><strong>상품 ID:</strong> <span th:text="${serial.itemId}"></span></p>
                        <p><strong>시리얼번호:</strong> <span th:text="${serial.serialNumber}"></span></p>
                        <p><strong>플랫폼:</strong> <span th:text="${serial.platform}"></span></p>
                        <!--구매 했을 경우 구매자 아이디 출력, 구매를 안 했을 경우 미판매라고 출력됩니다.-->
                        <span th:if="${serial.member != null}">구매자ID:<div th:text="${serial.member.email}"></div></span> 
                        <span th:if="${serial.member == null}">미판매</span>
                        <!--/. 구매 했을 경우 구매자 아이디 출력, 구매를 안 했을 경우 미판매라고 출력됩니다.-->
                    </div>

                    <!-- 페이지 번호 이동 -->
                    <div>
                        <ul class="pagination">
                            <li th:if="${currentPage > 1}">
                                <a th:href="@{/serials/list/{page}(page=1,keyword=${keyword})}">First</a>
                            </li>
                            <li th:if="${currentPage > 1}">
                                <a th:href="@{/serials/list/{page}(page=${currentPage - 1},keyword=${keyword})}">Previous</a>
                            </li>
                            <li th:each="pageNumber : ${#numbers.sequence(currentPage - 2, currentPage + 2)}" th:if="${pageNumber >= 1 and pageNumber <= totalPages}">
                                <span th:if="${pageNumber == currentPage}" th:text="${pageNumber}"></span>
                                <a th:if="${pageNumber != currentPage}" th:href="@{/serials/list/{page}(page=${pageNumber},keyword=${keyword})}" th:text="${pageNumber}"></a>
                            </li>
                            <li th:if="${currentPage < totalPages}">
                                <a th:href="@{/serials/list/{page}(page=${currentPage + 1},keyword=${keyword})}">Next</a>
                            </li>
                            <li th:if="${currentPage < totalPages}">
                                <a th:href="@{/serials/list/{page}(page=${totalPages},keyword=${keyword})}">Last</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.  페이지 번호 이동-->
                    
                </div>
            </div>
        </div>
    </div>
</div>

</html>